<div class="container">
  <article class="type-system-rounded">
    <h1>
      Beskriv vad du vill samla in till
    </h1>
    <%= simple_form_for @insamling, url: {action: "create"} do |f| %>
      <%= f.input :about, label: "Vad är syftet med din insamling?" %>
      <%= f.input :description, as: :text, label: "Övrig information. Tex var insamlingen sker och hur man kontaktar dig." %>
      <%= f.input :user_email, label: "Din email-adress" %>
      <%= f.submit "Skapa lista" %>
    <% end %>
  </article>
</div>
