<div class="container">
  <article class="type-system-rounded">
    <h1>
      <%= @insamling.about %>
    </h1>
    <h2>
      <%= @insamling.description %>
    </h2>
    <div class="insamling-when">
      <b>När?</b>
      <br/>
      <%= @insamling.when %>
    </div>
    <div class="share-area">
      <div class="share-header">
        Kopiera länken och dela den på Facebook eller Twitter.
      </div>
      <p>
        <%= "#{ root_url }insamlings/#{ @insamling.id }" %>
      </p>
    </div>
    <div class="needs">
      <% if @current_user %>
        <p class="add-need-container">
          <%= link_to "Lägg till mer i listan", 
            new_insamling_need_url(
              @insamling
            ),
            class: "button add-need-button"
          %>
        </p>
      <% end -%>
      <% if @insamling.needs.length > 0 %>
        <h3>Just nu behöver vi</h3>
        <ul>
          <% @insamling.needs.each do |need| -%>
            <li>
              <h4>
                <%= need.title %>
              </h4>
              <p>
                <%= need.description %>
                <% if @current_user %>
                  <%= link_to insamling_need_path(@insamling, need),
                    data: { confirm: "Är du säker att du vill ta bort '#{ need.title }'?" },
                    :method => :delete do %>
                      <%= fa_icon "trash", text: "Ta bort" %>
                  <% end %>
                <% end %>
              </p>
            </li>
          <% end -%>
        </ul>
      <% else %>
        <h3>Just nu behöver vi inget</h3>
      <% end -%>
    </div>
  </article>
</div>
