<div class="container">
  <article class="type-system-rounded">
    <h1>
      <%= @insamling.about %>
    </h1>
    <h2>
      <%= @insamling.description %>
    </h2>
    <div class="share-area">
      <div class="share-header">
        Kopiera länken och dela den på Facebook eller Twitter.
      </div>
      <p>
        <%= "#{ root_url }insamlings/#{ @insamling.id }" %>
      </p>
    </div>
    <div class="needs">
      <% if @current_user %>
        <p class="add-need-container">
          <%= link_to "Lägg till mer i listan", 
            new_insamling_need_url(
              @insamling
            ),
            class: "button add-need-button"
          %>
        </p>
      <% end -%>
      <% if @insamling.needs.length > 0 %>
        <h3>Just nu behöver vi</h3>
        <% @insamling.needs.each do |need| -%>
          <h4>
            <%= need.title %>
          </h4>
          <p>
            <%= need.description %>
            <%= link_to "Ta bort behov",
              insamling_need_path(
                @insamling,
                need
              ),
              data: { confirm: "Är du säker att du vill ta bort '#{ need.title }'?" },
              :method => :delete %>
          </p>
        <% end -%>
      <% else %>
        <h3>Just nu behöver vi inget</h3>
      <% end -%>
    </div>
  </article>
</div>
